

/* Global styles
------------------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
  background-size: cover;  
}

/* Menu
-------------------------------------*/

.menu  div {
	background-color: #235678;
	padding: 8px;
	margin: 0;
	opacity: 0.75;
	position: absolute;
}

.menu span {
  opacity: 1;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-color: #235678 #235678 #235678 #98ebfa;
  border-width: 3px 3px 3px 3px;
}

.menu-button:hover {
  border-color: #98ebfa;
}

.menu strong {
  opacity: 1;
  color: grey;	
}

.menu a {
  opacity: 1;
  text-decoration: none;
  padding: 4px;
  color: #98ebfa;
}



/* Game
-------------------------------------*/
.demo {
  padding-bottom: 100px;
  padding-top: 200px;
  text-align: center;
  user-select: none;
}

.new-level {  
  width: 150px;
  height: 50px;
  margin: auto;
  background-color: #2ac759;
  outline: none;
  color: #fff;
  border-radius: 5px;
  border: 0px solid black;
  font-size: 24px;
  user-select: none;
}

.new-level:hover {
  background-color: #24ad4d;
}

.new-level:active {
  transform: translateY(4px);
}

.reset {	
  width: 120px;
  height: 40px;
  background-color: #cfcf34;
  outline: none;
  color: #fff;
  border-radius: 5px;
  border: 0px solid black;
  margin: 40px;
  font-size: 24px;
  user-select: none;
}

.reset:hover {
  background-color: #b0b02e;
}

.reset:active {
  transform: translateY(4px);
}

.btn-up {
  width: 0px; 
  height: 0px; 
  padding: 0px;
  outline: none;
  background-color: transparent;
  border-left-color: transparent;
  border-left-width: 30px;
  border-right-color: transparent;
  border-right-width: 30px;
  border-top-color: transparent;
  border-top-width: 0px;
  border-bottom: 53px solid #bfc7c7; 
  user-select: none;
}

.btn-up:hover {
  border-left-width: 30px;
  border-right-width: 30px;
  border-top-width: 4px;
  border-bottom-width: 49px;
} 

.btn-up-old:hover {
  margin-top: 1px;
  margin-left: 3px;
  border-left-width: 27px;
  border-right-width: 27px;
  border-top-width: 2px;
  border-bottom-width: 48px;
} 

.btn-up:disabled {
  pointer-events: none;
}

.btn-up-clicked {
  border-bottom: 53px solid #22c976;
}

.btn-up-marked {
  border-bottom: 53px solid #909595;
}

.btn-down {
  width: 0px; 
  height: 0px; 
  padding: 0px;
  outline: none;
  background-color: transparent;
  border-left-color: transparent;
  border-left-width: 30px;
  border-right-color: transparent;
  border-right-width: 30px;
  border-bottom-color: transparent;
  border-bottom-width: 0px; 
  border-top: 53px solid #bfc7c7;
  user-select: none;
}

.btn-down:hover {
  border-left-width: 30px;
  border-right-width: 30px;
  border-bottom-width: 4px;  
  border-top-width: 49px; 
} 

.btn-down:disabled {
  pointer-events: none;
}

.btn-down-clicked {
  border-top: 53px solid #22c976;
}

.btn-down-marked {
  border-top: 53px solid #909595;
}

.p-up {
  color: #404040;
  font-size: 16px;
  transform: translate(-5px, 8px);
}

.p-down {
  color: #404040;
  font-size: 16px;
  transform: translate(-6px, -55px)
}

.img-up {
  width: 48px;
  height: 44px;	
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  pointer-events: none;
  user-select: none;
}

.img-down {
  width: 48px;
  height: 44px;	
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 3px;
  margin-bottom: 9px;
  pointer-events: none;
  user-select: none;
}

.wall {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  pointer-events: none;
}

.btn-group {
  text-shadow: 0px 0px 2px #fff, 0px 0px 10px #002060, 0px 0px 10px #002060, 0px 0px 10px #002060;
}
