

/* Global styles
------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
  background-size: cover;
}

/* Menu
-------------------------------------*/

.menu  div {
	background-color: #235678;
	padding: 8px;
	margin: 0;
	opacity: 0.75;
	position: absolute;
}

.menu span {
  opacity: 1;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-color: #235678 #235678 #235678 #98ebfa;
  border-width: 3px 3px 3px 3px;
}

.menu-button:hover {
  border-color: #98ebfa;
}

.menu strong {
  opacity: 1;
  color: grey;	
}

.menu a {
  opacity: 1;
  text-decoration: none;
  padding: 4px;
  color: #98ebfa;
}

/* Game
-------------------------------------*/
.demo {
  padding-bottom: 100px;
  padding-top: 200px;
  text-align: center;
  user-select: none;
}

.new-level {  
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin: auto;
  background-color: #2ac759;
  outline: none;
  color: #fff;
  border-radius: 5px;
  border: 0px solid black;
  font-size: 24px;
  user-select: none;
}

.new-level:hover {
  background-color: #24ad4d;
}

.new-level:active {
  transform: translateY(4px);
}

.reset {	
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  background-color: #cfcf34;
  outline: none;
  color: #fff;
  border-radius: 5px;
  border: 0px solid black;
  margin: 20px;
  margin-bottom: 0px;
  font-size: 24px;
  user-select: none;
}

.reset:hover {
  background-color: #b0b02e;
}

.reset:active {
  transform: translateY(4px);
}

.lock-vis {
  fill: #0000;
}

.background {
  fill: #CFD7D7;  
  stroke: #000000;
  stroke-width: 0px;
  pointer-events: visiblePainted;
}

.background:hover {
  stroke-width: 3px;	
}

.selected {
  stroke-width: 3px;
}

.modifier {
  fill: #0000;
}

.svg {
  overflow: visible;
  user-select: none;
  pointer-events: none;
}

.btn {

  text-anchor: middle;
  fill: #0000;
}

.wall {
  fill: #000000;
}

.wall-old {
  width: 60px;
  height: 60px;	
  pointer-events: none;
}

.wall-cycle {
  width: 40px;
  height: 40px;	
  margin: 10px;
}

.cycle {
  width: 40px;
  height: 40px;
  margin: 10px;
  font-size: 20px; 
  color: #404040;
  outline: none;
  background-color: #0000;
  user-select: none;
  pointer-events: none;
}

.btn-group {
  fill: #404040 !important;
  text-shadow: 0px 0px 2px #fff, 0px 0px 10px #002060, 0px 0px 10px #002060, 0px 0px 10px #002060 !important;
}

.bottom {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse){	 

  .bottom {
	display: initial;
  }

  .press {
    background-color: #31B0D5;
	font-size: 44px;
    color: white;
    border-radius: 4px;
    border-color: #46b8da;
	position: fixed;
	bottom: 2px;
	right: 2px;
	width: 40%;
    height: max(75px, 8%);
  }
  
  .lock {
    background-color: #31B0D5;
	font-size: 44px;
    color: white;
    border-radius: 4px;
    border-color: #46b8da;
	position: fixed;
	bottom: 2px;
	left: 2px;
	width: 40%;	
    height: max(75px, 8%);
  }
 
  .bottom-selected {
	background-color: #2ac759;
  }
 
}
