/* This source code is copyrighted by Benjamin Wharton 2023.
 * Redistribution is prohibited */

/* Global styles
------------------------------------*/

html {
  box-sizing: border-box;
  touch-action: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: black;
  background-size: cover;
}

/* Menu
-------------------------------------*/

/* Style The Dropdown Button */
.dropbtn {
  position: fixed;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 29%;
  top: 2px;
  left: 1%;
  height: max(60px, 6%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  display: inline-block;
  z-index: 10;
  pointer-events: auto;
  touch-action: auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  top: max(50px, 5vh);
  left: 1vw;
  min-width: 27vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 20;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Game
-------------------------------------*/

.demo {
	width: 100%;
	height: 84%;
	position: fixed;
	top: max(75px, 8%);
}

.new-level {  
  background-color: #2ac759;
  outline: none;
  color: #fff;
  border-radius: 5px;
  height: max(75px, 8%);
  width: 40%;
  left: 30%;
  top: 2px;
  position: fixed;
  z-index: 10;
  user-select: none;
  pointer-events: auto;
  touch-action: auto;
}

.new-level:hover {
  background-color: #24ad4d;
}

.new-level:active {
  transform: translateY(4px);
}

.reset {
  background-color: #cfcf34;
  color: #fff;
  border-radius: 5px;
  height: max(60px, 6%);
  width: 29%;
  right: 1%;
  top: 2px;
  position: fixed;	
  z-index: 10;
  user-select: none; 
  pointer-events: auto;  
  touch-action: auto;
}

.reset:hover {
  background-color: #b0b02e;
}

.reset:active {
  transform: translateY(4px);
}

#grid-container {
	position: relative;
	top: max(100px, 10%);
}

.size-num-text {
	color: #FFFFFF;
	display: inline;
}

.level-number {
	width: 130px;
	pointer-events: auto;
}

.level-size {
	width: 130px;
	pointer-events: auto;
}

.level-num-div {
	position: fixed;
    top: max(60px, 6%);
	margin-top: 30px;
	right: 1%;
	z-index: 10;
	pointer-events: none;	
}

.level-size-div {
	position: fixed;
    top: max(60px, 6%);
	margin-top: 100px;
	right: 1%;
    z-index: 10;
	pointer-events: none;
}

.lock-vis {
  fill: #0000;
}

.background {
  fill: #CFD7D7;  
  stroke: #000000;
  stroke-width: 0px;
  pointer-events: visiblePainted;
}

.background:hover {
  stroke-width: 3px;	
}

.selected {
  stroke-width: 3px;
}

.modifier {
  fill: #0000;
}

.svg {
  overflow: visible;
  user-select: none;
  pointer-events: none;
}

.btn {
  text-anchor: middle;
  fill: #0000;
}

.wall {
  fill: #000000;
}

.cycle {
  user-select: none;
  pointer-events: none;
}

.btn-group {
  fill: #FFFFFF !important;
  text-shadow: 0px 0px 2px #fff, 0px 0px 10px #002060, 0px 0px 10px #002060, 0px 0px 10px #002060 !important;
}

.btn-negative {
  fill: #FF0000 !important;
}

.bottom {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse){	 

#grid-container {
	position: fixed;
}

  .bottom {
	display: initial;
	z-index: 10;
  }

  .press {
    background-color: #31B0D5;
    color: white;
    border-radius: 4px;
    border-color: #46b8da;
	position: fixed;
	bottom: 0%;
	right: 0%;
	width: 35%;
    height: max(75px, 8%);
  }

  .clear{
    background-color: #31B0D5;
    color: white;
    border-radius: 4px;
    border-color: #46b8da;
	position: fixed;
	bottom: 0%;
	left: 35%;
	width: 30%;	
    height: max(75px, 8%);
  }
  
  .lock {
    background-color: #31B0D5;
    color: white;
    border-radius: 4px;
    border-color: #46b8da;
	position: fixed;
	bottom: 0%;
	left: 0%;
	width: 35%;	
    height: max(75px, 8%);
  }
 
   .scale {
	position: fixed;
	bottom: max(75px, 8%);
	margin-bottom: 25px;
	left: 15%;
	width: 90px;	
    height: 90px;	   
   }
   
   .translate {
	position: fixed;
	bottom: max(75px, 8%);
	margin-bottom: 25px;
	right: 15%;
	width: 90px;	
    height: 90px;	   
   }
 
  .bottom-selected {
	background-color: #2ac759;
  }
 
}

.text-size {
	font-size: 50px;
}

@media (max-width: 1200px) {
  .text-size {
    font-size: 40px;
  }
  
  .level-size-div {
  	margin-top: 85px;
  }
  
  .level-number {
  	width: 110px;
  }
  
  .level-size {
  	width: 110px;
  }
   .scale {
	width: 75px;	
    height: 75px;	   
   }
   
   .translate {
	width: 75px;	
    height: 75px;	   
   }  
}

@media (max-width: 720px) {
  .text-size {
    font-size: 30px;
  }
  
  .level-size-div {
  	margin-top: 75px;
  }
  
  .level-number {
  	width: 95px;
  }
  
  .level-size {
  	width: 95px;
  }
  
   .scale {
	width: 65px;	
    height: 65px;	   
   }
   
   .translate {
	width: 65px;	
    height: 65px;	   
   }    
}

@media (max-width: 480px) {
  .text-size {
    font-size: 20px;
  }
  
  .level-size-div {
  	margin-top: 61px;
  }
  
  .level-number {
  	width: 70px;
  }
  
  .level-size {
  	width: 70px;
  }
  
   .scale {
	width: 55px;	
    height: 55px;	   
   }
   
   .translate {
	width: 55px;	
    height: 55px;	   
   }     
}
